*{
    font-family: Arial, Helvetica, sans-serif;
}
fieldset{
    width: 210px;
    height: 450px;
    background-color:white;
    padding: 20px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    margin: 10px;
    border-style: none ;
    margin-left: 39%;
    margin-top: 4%;
}
#botaocadastrar{
    background-color: blue;
    color: white;
    height: 35px;
    width: 207px;

}
.texto{
    background-color: rgb(216, 216, 216);
    height: 28px;
    width: 200px;
}
label{
    margin: 10px;
}
input{
    margin: 10px;
    border-style: none;
}
#possui{
    background-color: white;
    height: 15px;
    width: 200px;
}
#sistema{
    background-color: white;
    height: 15px;
    width: 200px;
    color: blue;
}
h1{
    color: blue;
}
#cancelarbotao{
    float: right;
}
.exibir{
    float: right;
}